body {
    color: blue
}

#MainPage {
    position: absolute;

    left:0;
    top:0;
    width:100%; 
    height: 90%;  /*100 - .LinkBar.height */

    background-color: yellow;
}

#LinkBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: green;

    min-height: 30px;
}

#MainGame {
    position: absolute;
    left: 0;
    bottom: 0;
    height:100%;
    width: 70%;
    background-color: #6fd6f4;

    min-width: 140px;

}

#OptionsSide {
    position: absolute;
    right: 0;
    bottom: 0;
    height:100%;
    width: 30%;

    min-width: 60px;
}

#FlowerCenter {
    position: absolute;
    left: 50%;
    top: 30%;
}

#Counter{
    position: absolute;
    left: 80%;
    top: 5%;
    width: 5cm;
    height: 1.5cm;
}

#CoreFlower{
    left: -2cm;
    top:-2cm;
    width: 4cm;
    height: 4cm;
    
    border-radius: 50%;
    background-color: #eae707;
    // TODO: insert picture
}